<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>User Profile</h1>
        <hr>
        <h2>My Orders</h2>
        {{# each orders}}
            <div class="panel panel-default">
                <ul class="list-group">
                    {{#each this.items}}
                        <li class="list-group-item">
                            <span class="badge">${{this.price}}</span>
                            {{this.item.title}} | {{this.item.qty}} Units
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{#if this.cart}}
            <div class="panel-footer">$ {{this.cart.totalPrice}}</div>
        {{/if}}

        {{/each}}

    </div>
</div>
