<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Sign In</h1>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages}}
                    <p>{{ this }}</p>
                {{/each}}
            </div>
        {{/if}}
        <form method="post" action="/user/signin">
            <div class="form-group">
                <label>Email Address</label>
                <input type="text" name="email" id="email" class="form-control">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" id="password" class="form-control">
            </div>
            <input name="_csrf" type="hidden" value="{{ csrfToken }}">
            <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
        <p>Don't have an account? <a href="/user/signup/">Sign up</a> </p>
    </div>
</div>
