<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <div class="col-xs-12">
            <h1>Checkout</h1>
            <h4>Cart Total: ${{cartTotal}}</h4>

        </div>
        <div class="col-xs-12">
            <div id="charge-error" class="alert alert-danger {{#if noErrors }}hidden{{/if}}">
                {{ errMessage }}
            </div>
        </div>
        <form method="post" action="/checkout" id="checkout-form">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="name" id="name" class="form-control" required>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" name="address" id="address" class="form-control" required>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Card Holder Name</label>
                    <input type="text" name="card_name" id="card_name" class="form-control" required>
                </div>
            </div>
            <div class="col-xs-12" >
                <div class="form-group" id="card-element"></div>
            </div>

            <!-- Used to display card errors. -->
            <div class="col-xs-12" role="alert">
                <div id="card-errors" class="form-group"></div>
            </div>

            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-checkout">Buy Now</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
<script type="text/javascript" src="/js/checkout.js"></script>
