{{# if products}}
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-3 col-sm-offset-3">
            <ul class="list-group">
                {{# each products }}
                    <li class="list-group-item">
                        <span class="badge">{{this.qty}}</span>
                        <strong>{{this.item.title}}</strong>
                        <span class="label label-success">${{this.price}}</span>
                        <div class="btn-group">
                            <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Action <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="/decrease/cart/item/{{this.item._id}}">Decrease Quantity</a></li>
                                <li><a href="/increase/cart/item/{{this.item._id}}">Increase Quantity</a></li>
                                <li><a href="/remove/cart/items/{{this.item._id}}">Remove All</a></li>
                            </ul>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-3 col-sm-offset-3">
            <strong>Cart Total: ${{cartTotal}}</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-3 col-sm-offset-3">
            <a href="/checkout/" class="btn btn-success" type="button">Checkout</a>
        </div>
    </div>
{{else}}
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-3 col-sm-offset-3">
            <strong><h1>No Cart Items</h1></strong>
        </div>
    </div>
{{/if}}




